body{
    margin: 0px;
    height: 100vh;
}
.Container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    height:
}
p{
    font-size: 20px;
    font-family: 'Josefin Sans';
    letter-spacing: 20px;
    text-align:center;
    margin:0px;
}
.B1{
    margin-bottom: 50px;
}
.B2{
    margin: 0px;
}
.B3{
    margin: 0px;
}

.alien{
    position: absolute;
    margin-right: 1000px;
    margin-top: 250px;
}
h1{
    margin: 0px;
}