html {
    height: 100%;
  }
body{
    margin: 0px;
    height: 100%;
    min-height: 100%;
}
.Container > div {
    border: 2px solid rgb(185, 185, 184);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    color: #d9480f;
  }
  .Container > div:hover{
    background-color:rgb(211, 210, 210);
  }
  .Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:100%;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    min-height: 100%;
  }
.UnderT{
    font-size: 20px;
    font-family: 'Josefin Sans';
    letter-spacing: 20px;
    text-align:center;
    margin:auto;
}
div{
    text-align: center;
}
h1{
    font-size: 64px;
}
.alien{
    position:absolute;
    left:0;
    bottom: 0;
    height: 30vh;
}
a{
    text-decoration: none;
    color: black;
}
 h1#tt{
  margin: 0px;
 }
 .ContainApps{
  flex-direction:row;
  align-items:center;
  display: flex;
  position: absolute;
  bottom: 10px;
  height: 100px;
  width: 100px;
  align-self: baseline;
 }

 .ContainApps > a{
  max-height:100px;
  max-width:100px;
  padding-left: 50%;
  padding-right: 50%;
 }
 .AIs{
  width: 100px;
  height: 100px;
 }
 #yap{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: left;
  margin: 5px;
 }
 .Borderyap{
  height: 30%;
  Width: 100%;
  margin: 5px;
  /* background-color: rgb(102, 179, 241); */
  border: rgb(0, 0, 0) 10px;
  border-style: solid;
  border-width: 7px;
  border-radius: 5%;
 }
 .C4AM {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height:100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  align-items: center;
}