body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure the body and html take up full height */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.page-container {
    display: block; /* Allow natural flow of content */
    width: 100%;
}

.home-bg {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height for the background */
    background-image: url(assets/background.png);
    background-size: cover;
    background-position: center;  /*Center the background image */
    background-repeat: no-repeat;
}

.name {
    color: hsla(0, 0%, 100%, 0);
    font-family: Inter;
    font-size: 180px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 5.5px;
    -webkit-text-stroke: 3px #000000;
    text-align: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    padding-left: 30vw;
    padding-right: 30vw;
}

/* .Chess-piece{
    width: 100px;
    height: 100px;
} */
.Projects-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(assets/Project-backgroud.png);
    background-size: cover;
    background-position: 30%;
}

.Projects-Rectangles {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 30px;
    place-items: center;
}

.back-buton {
    position: absolute;
    z-index: 3;
    top: 5px;
    left: 5px;
}

.Rectangl-imges {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    grid-column-gap: 35px;
    width: 290px;
    height: 290px;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 50px;
    z-index: 1;
}

.Projects-text {
    color: hsla(0, 0%, 100%, 0.438);
    font-family: Inter;
    font-size: 150px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 5.5px;
    -webkit-text-stroke: 3px #000000;
    z-index: 1;
}

.coming_soon {
    width: 100vw;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-me-bg {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../brianH/assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
}

.About-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: #000000; */
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.black-box {
    background-color: #000000;
    width: 60%;
    height: 60%;
}

h1.text {
    padding-top: 15px;
    font-size: 40px;
    color: white;
    font-family: Inter;
    margin: 0;
    text-align: center;
}

.About-text {
    color: hsl(0, 0%, 100%);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 5.5px;
    padding-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #000000;
    height: 150px;
    border-top: 10px solid rgb(62, 62, 62);
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: end;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 30px;
    width: auto;
    height: 100px;
}

.num-email {
    color: hsl(0, 0%, 100%);
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 5 px;
    margin-right: 2%;
}

#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-position: center;
    background-size: 150px;
    background-repeat: no-repeat;
    background-color: black;
    padding: 15px;
}

#one {
    background-image: url(assets/Big\ White\ king.png);
}

#two {
    background-image: url(assets/Big\ White\ Queen.png);
}

#three {
    background-image: url(assets/Big\ White\ Rook.png);
}

#five {
    background-image: url(assets/Big\ Black\ King.png);
}

#seven {
    background-image: url(assets/Big\ Black\ Queen.png);
}

#eight {
    background-image: url(assets/Big\ Black\ Rook.png);
}

#nine {
    background-image: url(assets/Big\ Black\ Rook.png);
}

.projects_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: end;
    justify-content: space-between;
    background-color: black;
    height: 100px;
    width: 100px;
}

.socials {
    background-color: #ffffff;
}

nav {
    padding-top: 35px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /* gap: 2%; */
    border: 15px solid #131212;
    box-shadow: 0 0 100px #ffffff;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.square-1 {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    /* padding: 5%; */
    background-color: #000000;
    color: #fff;
    height: 100px;
    width: 100px;
}

.square-2 {
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    /* padding: 5%; */
    background-color: #ffffff;
    color: #000000;
    height: 100px;
    width: 100px;
}

.Grid_container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    justify-content: space-around;
}

/* .testbg{
    background-image:url();
    background-repeat: no-repeat;
    background-size: cover;
    
} */
.gridsmall {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-area: 2 / 1 / 4 / 3;
    /* gap: 2%; */
    border: 7px solid #131212;
    box-shadow: 0 0 50px #ffffff;
    height: 300px;
    width: 300px;
}

.square-3 {
    /* aspect-ratio: 1/ 8; */
    /* display: flex;
    align-items: center; */
    background-color: #000000;
    color: #fff;
    /* height: 50px;
    width: 50px;
 */
}

.square-4 {
    /* aspect-ratio: 1/ 8; */
    /* display: flex;
    align-items: center; */
    background-color: #ffffff;
    color: #000000;
    /* height: 50px;
    width: 50px; */
}

.left_grids {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right_grids {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 1440px) {
    .name {
        font-size: 160px;
    }
    .num-email {
        font-size: 40px;
    }
    .About-text {
        font-size: 30px;
    }
    
}

@media (max-width: 1024px) {
    .name {
        font-size: 130px;
    }
    .num-email {
        font-size: 30px;
    }
    .About-text {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .name {
        font-size: 100px;
    }
    .num-email {
        font-size: 20px;
    }
    .About-text {
        font-size: 15px;
    }
}
