@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  background-image:url('../')
  background-size:cover;
  height:100vh;
  background: linear-gradient( #606060, #000000);
    margin: 0;
}

a {
  color: #9C9C9C;
  text-decoration: none;
}

h1 {
  color: #9C9C9C ;
  font-size:65px;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
}

.porsche{
  scale:1.5;
}

.button{
  color: #9C9C9C;
  font-size:35px;
  ont-family: "Kavoon", serif;
  font-weight: 800;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  width:90%;
  margin-bottom:55px;
}

p {
  color: #9C9C9C;
  font-size: 40px;
  font-family: "Kavoon", serif;
  margin:0px;
  color:white;
  text-align:center;
  margin-left:100px;
  margin-right:100px;
}

.home{
 
  position:absolute;
  left:30px;
  top:30px;
  font-size: 40px;
  font-family: "Kavoon", serif;
  margin:0px;
  color: #9C9C9C ;
  text-align:center;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: .5rem;
  font-size: 2.2rem;
}
ul:before {
  content:"";
  position: absolute;
  position-anchor: --li;
  inset: auto anchor(right) anchor(bottom) anchor(left);
  background: white;
  height: .2em;
  transition: .2s .2s;
}
ul li {
  background: 
    conic-gradient(white 0 0)
    bottom/100% 0% no-repeat;
  transition: .2s;
}
ul li:is(:hover,.active) {
  anchor-name: --li;
  background-size: 100% 100%;
  transition: .2s .4s;
}
ul:has(li:hover) li.active:not(:hover) {
  anchor-name: none;
  background-size: 100% 0%;
  transition: .2s;
}

ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 900;
  line-height: 1.5;
  padding-inline: .2em;
  display: block;
}

ul li:is(:hover,.active) a{
  color:black;
  transition-delay: .4s;
  transition:-delay: .4s;
}
ul li:hovers a{

}
