body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 80%;
  height: 70%;
  border: 2px solid black;
  padding: 20px;
  background-color: white;
  position: relative;
}

.logo-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: -50px;
  left: -50px;
  width: 30%;
  padding-bottom: 2vh;
  background-color: white;
}

.headline {
  position: absolute;
  right: 4%;
  top: 6%;
}
.logo {
  width: 120px;
  height: auto;
  z-index: 4;
  background: white;
  padding: 1%;
  padding-right: 2%;
}

.top-text {
  top: 20px;
  left: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  font-size: 30px;
  z-index: 1;
}

.text {
  /* position: absolute; */
  top: 20px;
  left: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  font-size: 30px;
  z-index: 1;
}

.grid {
  padding: 2%;
  padding-top: 6%;
  display: grid;
  height: 85%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Two columns on screens up to 768px width */
  }
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* Single column on screens up to 480px width */
  }
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 30%; */
}

/* Vinh's Button*/

#vinhBtn:hover {
  background-color: #0bceaf;
  color: white;
  transition: 0.5s;
  transform: translate(0%, -25%);
  letter-spacing: 5px;
}

#vinhBtn {
  display: flex;

  justify-content: center;
  align-items: center;
  border: 2px solid #0bceaf;
  border-radius: 50px;
  background-color: white;
  height: 5svh;
  width: 80%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #0bceaf;
  letter-spacing: 2px;
  text-decoration: none;
}

.phaedra-text {
  transform: translateY(-80px);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.phaedra-img {
  align-self: center;
  max-width: 150px;
  transition-duration: 0.2s;
  /* transition-delay: 0.2s; */
}

.phaedra-img:hover {
  scale: 1.5;
}

a#daniel-button {
  --border: 5px;
  --slant: 0.3em;
  --color: #3b64cc;

  font-size: 35px;
  padding: 0.4em 1.2em;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--color);
  background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top
      right,
    linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
  background-size: calc(var(--slant) + 1.3 * var(--border))
    calc(var(--slant) + 1.3 * var(--border));
  background-repeat: no-repeat;
  box-shadow: 0 0 0 200px inset var(--s, #0000),
    0 0 0 var(--border) inset var(--color);
  clip-path: polygon(
    0 0,
    calc(100% - var(--slant)) 0,
    100% var(--slant),
    100% 100%,
    var(--slant) 100%,
    0 calc(100% - var(--slant))
  );
  transition: color var(--t, 0.3s), background-size 0.3s;
  text-decoration: none;
}

a#daniel-button:focus-visible {
  outline-offset: calc(-1 * var(--border));
  outline: var(--border) solid #000c;
  clip-path: none;
  background-size: 0 0;
}

a#daniel-button:hover,
a#daniel-button:active {
  background-size: 100% 100%;
  color: #fff;
  --t: 0.2s 0.1s;
}

a#daniel-button:active {
  --s: #0005;
  transition: none;
}

#SerenityButton {
  padding: 20%;
  background-size: 100%;
  background-image: url("./serenity/button-images/name-box.png");
  background-repeat: no-repeat;
  transition-property: all;
  transition-duration: 0.5s;
  z-index: 1;
}
#SerenityButton:hover {
  background-image: url("./serenity/button-images/mine-box.png");
  padding: 21%;
}

#jackyButton {
  position: relative;
  display: inline-block;
  padding: 28px 10px;
  border: 2px solid black;
  border-radius: 5px;
  letter-spacing: 3px;
  cursor: pointer;
  zoom: 1.5;
  text-transform: uppercase;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
}

#jackyButton::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -3px;
  right: -3px;
  height: 50%;
  background: white;
  transition: transform 0.75s, background-color 1s;
  transition-timing-function: cubic-bezier(0.33, 0.01, 0, 1);

  transform: scaleY(1);
}

#jackyButton:hover::before {
  transform: scaleY(0);
}

#jackyButton::after {
  content: "";
  position: absolute;
  left: 15%;
  top: -3px;
  bottom: -3px;
  width: 70%;
  background: white;
  transition: transform 0.75s, background-color 1s;
  transition-timing-function: cubic-bezier(0.33, 0.01, 0, 1);
  transform: scaleX(1);
}

#jackyButton:hover::after {
  transform: scaleX(0);
}

#jackyButton:hover {
  color: black;
}

#jackyText {
  position: relative;
  z-index: 5;
  text-align: center;
  color: lightpink;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

a#Jonathan-button {
  background-color: rgb(248, 248, 248);
  border: 5px solid black;
  cursor: pointer;
  transition: all 0.2s linear;
  position: center;
  animation: 3s infinite vertical alternate;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 0;
}

#Jonathan-button:hover {
  font-size: 1.5em;
}

.bonnieButton {
  position: relative;
  width: 100%;
  height: 100%;
  height: auto;
}

.btn1 {
  position: absolute;
  opacity: 100;
  width: 100%;
  height: auto;
}

.btn1:hover {
  opacity: 0;
}

.btn2 {
  position: relative;
  opacity: 0;
  width: 100%;
  height: auto;
}

.btn2:hover {
  opacity: 100;
}

#phuongButton {
  position: relative;
  display: inline-block;
  padding: 27.5px 0;
  border-radius: 16px;
  cursor: pointer;
  zoom: 1.5;
  text-align: center;
  z-index: 5;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: #aec5e0;
  color: white;
  border: none;
  font-family: "Pecita";
  font-size: 32px;
  font-weight: 200;
  box-shadow: none;
  -webkit-text-stroke: 0.75px black;
}
.averybutton:hover{
  scale:1.3.5;
  transition: 0.4s;
}
.averybutton{
  transition:0.2s;
}
.jesus_name{
  text-align:center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(201, 226, 111, 0.25); 
  padding: 10px;
  border-radius: 8px;
}