body {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 68.7vw;
    background-image: linear-gradient(rgba(126, 22, 17, 0),
    rgba(126, 22, 17, 1)
    );
    background-color: #1C0907;
    color: #EFE3DB;
}

.banner {
    width: 15.4vw;
    background-color: #1C0907;
}

.logo {
    height: 5vw;
}

.content {
    width: 76.35vw;
}

.roof {
    height: 7vw;
    background-color: #1C0907;
}

.main {
    display: flex;
    flex-direction: row;
}

.text {
    width: 38.175vw;
}

.image {
    width: 38.175vw;
    height: 61.7vw;
    background-color: #C8907E;
}

.nav {
    width: 8.3vw;
    background-color: #1C0907;
}

