:root {
    text-transform: lowercase;
}


body {
    background-size: cover;
    background-image: url(https://sweethard666.neocities.org/xp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;

}


#everything {
    display: block;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}


#title-bar {
    width: 922px;
    display: block;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}


#fullbody {
    width: 894px;
    height: 600px;
    align-items: center;
    background: radial-gradient(#fbfcfaea 50%, #fff 50%);
    background-size: 5px 5px;
}


#navigation {
    height: fit-content;
    max-height: 70px;
    width: 300px;
    right: -565px;
    top: -400px;
}


#navigation-body {
    display: flex;
    justify-content: center;
}


#sub-title {
    width: 400px;
    height: 400px;
    bottom: -40px;
}


#sub-body {
    width: 373px;
    height: 350px;
    bottom: -30px;
}


#apple-banner {
    position: relative;
    width: 100%;
}


#usahana {
    position: relative;
    margin-top: 20px;
    top: 25px;
    left: 75px;
}


#stamps {
    max-width: fit-content;
}

