:root {
    text-transform: lowercase;
}

body {
    background-size: cover;
    background-image: url(https://sweethard666.neocities.org/xp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin-top: 100px;
}


#Main-Menu {
    width: 860px;


    position: absolute;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}


#Main-Menu-Body {
    height: fit-content;
}


#Sub-Menus {
    max-width: fit-content;
}

#Image {
    width: 200px;
}

#Delulus {
    border-radius: 20px;
    width: 370px;
}

.footer {
    position: relative;
}

